.Cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 8px;
  width: 100%;
}

@media (max-width: 768px) {
  .Cards-grid {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
