footer {
    background-color: #fd9a49;
    color: #ffffff;
    padding: 40px 20px;
    margin-top: 60px;
    border-radius: 60px;
    width: 96vw;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #db7734;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #863c00;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
}