#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0%;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.websiteLogo {
  height: 10vh;
  pointer-events: none;
}

body {
  display: flex;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 60px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #213547;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
#signUp {
  background-color: #ff7402;
  color: #ffffff;
}
#signUp:hover {
  background-color: #e75900;
  transition: ease-in-out 500ms;
}
button:hover {
  border-color: #ff7402;
  color: #ff7402;
  transition: ease-in-out 500ms;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
