.hero-image-wrapper {
  position: relative; /* anchor for absolute text */
  padding-top: 1%;
}

.heroImage {
  width: 95%;
  height: 100vh;
  border-radius: 2vw;
}

.heroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: white;
  font-size: 4.5vh;
  font-weight: 600;
  text-align: center;
  top: 15%;
}

/* Tablet */
@media (max-width: 1024px) {
  .heroImage {
    height: 80vh;
  }

  .heroTitle {
    font-size: 3.5vh;
  }
}

/* Mobile & Tablet Portrait */
@media (max-width: 768px) {
  .heroImage {
    height: 60vh;
    width: 98%;
  }

  .heroTitle {
    font-size: 2.5vh;
    top: 12%;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .heroImage {
    height: 50vh;
  }

  .heroTitle {
    font-size: 2vh;
    top: 15%;
  }
}
