.property-card {
  border: 2px solid #a3450e;
  background-color: rgb(248, 239, 232);
  border-radius: 3vw;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(100, 40, 0, 0.1);
  max-width: 300px;
  margin: 16px;
}

.property-image img {
  width: 95%;
  border-radius: 5vh;
  padding-top: 2%;
}
.property-details {
  padding-left: 18px;
  text-align: left;
}

.property-details h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}
.property-details p {
  color: #666;
  margin: 0.5em 0;
  padding: 0%;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
  color: #ccc; /* Default color (grey/outlined look) */
  transition: color 0.3s ease;
  padding: 1%; /* Remove default padding */
  display: flex; /* Helps center the icon within the button area */
  align-items: center;
  justify-content: center;
  margin-left: 8px; /* small spacing from title */
}

/* Color when the button is in the favorited state */
.favorite-button.favorited {
  color: #ff0000; /* Red color when favorited */
}

/* Optional: Add a hover effect */
.favorite-button:hover {
  color: #ff4444;
}
.title-fav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 15px;
}
